<head>
	<title>Google+</title>
	<base href="/">
	<link rel="stylesheet" type="text/css" href="bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-material-design/css/material.css">
	<link rel="stylesheet" type="text/css" href="bootstrap-material-design/css/ripples.css">
	<link rel="stylesheet" type="text/css" href="ngDialog/css/ngDialog.css">
	<link rel="stylesheet" type="text/css" href="ngDialog/css/ngDialog-theme-default.css">
	<link rel="stylesheet" type="text/css" href="snackbarjs/snackbar.min.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/styles.css">
</head>
