<div class="row">
	<div class="col-md-4 col-md-offset-4">
		<h1>Register</h1>
		<div class="well">
			<form role="form" ng-submit="vm.register()">
				<div class="form-group">
					<label for="register_email">Email</label>
					<input type="text" class="form-control" id="register_email" ng-model="vm.email" placeholder="your email exmaple@google.com"></input>
				</div>
				<div class="form-group">
					<label for="register_password">Password</label>
					<input type="password" class="form-control" id="register_password" ng-model="vm.password" placeholder="your password"></input>
				</div>
				<div class="form-group">
					<button type="submit" class="btn btn-primary">Register</button>
				</div>
			</form>
		</div>
	</div>
</div>